#for upload

## for mbstring
php_value output_buffering On
php_value output_handler mb_output_handler
php_value default_charset UTF-8
php_value mbstring.encoding_translation On
php_value mbstring.http_input auto
php_value mbstring.http_output UTF-8
php_value mbstring.internal_encoding UTF-8
php_value mbstring.substitute_character none

php_flag  display_errors On
php_value upload_max_filesize 200M
php_value post_max_size 200M
php_value memory_limit 200M