@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;
	height: 100%;
}
/*************************************************/
.frame {
	position: absolute;
}
/*************************************************/
#topframe {
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	height: 59px;
	background-color: #B4BCC2;
	border-bottom: 1px solid #9aa1a6;
}
#topframeshadow {
	height:5px;
	top:59px;
	left:0;
	right:0;
	background:url(../images/public/topframeshadow.png) repeat-x;
	z-index:500;
}
#topframe div {
	height: 60px;
	margin: 0px 10px 0 2px;
	padding-left: 180px;
	background: url(../images/top/logo.gif) no-repeat;
	color: #666;
	text-align: right;
}
#topframe label {
	color: #F00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#topframe a {
	margin-left: 5px;
}
/*************************************************/
#leftframe {
	overflow: hidden;
	top: 60px;
	bottom: 30px; 
	left: 0;
	width: 169px;
	height: 100%;
	padding-bottom: 30px;
	background-color: #dce8f1;
	border-top: 1px solid #bbbec1;
	border-right: 1px solid #bfc7cd;
}
#leftframeshadow {
	width:5px;
	top:59px;
	bottom:30px;
	left:169px;
	background:url(../images/public/leftframeshadow.png) repeat-y;
	z-index:500;
}
#accordion {
	margin: 10px;
}
#accordion h2 {
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding-left: 25px;
	background: url(../images/menu/plus.gif) left no-repeat;
	font-size: 13px;
	letter-spacing: 5px;
	cursor: pointer;
}
#accordion p {
	height: 20px;
	line-height: 20px;
	padding-left: 25px;
	margin: 0;
	background: url(../images/menu/join.gif) left no-repeat;
}
#accordion p.end {
	background-image: url(../images/menu/joinbottom.gif);
}
/*************************************************/
#mainframe {
	overflow: auto;
	top: 60px; 
	left: 170px;
	right: 0;
	bottom: 30px;
	background: #FFF;
}
#mainframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
/*************************************************/
#bottomframe {
	overflow: hidden; 
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	background: #333;
	border-top: 1px solid #666;
	color: #CCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
}
/*************************************************/
.nmsg a,.nmsg b,.nmsg b s{
	background:url(../images/public/newmsg.png);
	text-decoration:none;
	color:#fff;
	padding:0;
	margin:0;
	line-height:18px;
	letter-spacing:0px;
}
.nmsg{
	position:relative;
}
.nmsg a{
	padding-left:9px;
	position: absolute;
	top:-15px;
	left:0px;
	background-position:0 0;
	background-repeat:no-repeat;
}
.nmsg b{
	padding-right:9px;
	background-position:right -19px;
	background-repeat:no-repeat;
}
.nmsg b s{
	background-position:0 -38px;
	background-repeat: repeat-x;
}
.nmsg b s span{
	margin:0 -3px;
}